:root {
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --slidesborder: rgba(185, 185, 185, 1);
  --gray-25: rgba(252, 252, 253, 1);
  --gray-50: rgba(249, 250, 251, 1);
  --gray-100: rgba(242, 244, 247, 1);
  --gray-200: rgba(234, 236, 240, 1);
  --gray-300: rgba(208, 213, 221, 1);
  --gray-400: rgba(152, 162, 179, 1);
  --gray-500: rgba(102, 112, 133, 1);
  --gray-600: rgba(71, 84, 103, 1);
  --gray-700: rgba(52, 64, 84, 1);
  --gray-800: rgba(29, 41, 57, 1);
  --gray-900: rgba(16, 24, 40, 1);
  --brand-25: rgba(250, 255, 252, 1);
  --brand-50: rgba(245, 255, 250, 1);
  --brand-100: rgba(244, 235, 255, 1);
  --brand-200: rgba(233, 215, 254, 1);
  --brand-300: rgba(160, 238, 153, 1);
  --brand-400: rgba(141, 219, 89, 1);
  --brand-500: rgba(98, 158, 58, 1);
  --brand-600: rgba(127, 86, 217, 1);
  --brand-700: rgba(105, 65, 198, 1);
  --brand-800: rgba(83, 56, 158, 1);
  --brand-900: rgba(0, 29, 12, 1);
  --error-25: rgba(255, 251, 250, 1);
  --error-50: rgba(254, 243, 242, 1);
  --error-100: rgba(254, 228, 226, 1);
  --error-200: rgba(254, 205, 202, 1);
  --error-300: rgba(253, 162, 155, 1);
  --error-400: rgba(249, 112, 102, 1);
  --error-500: rgba(240, 68, 56, 1);
  --error-600: rgba(217, 45, 32, 1);
  --error-700: rgba(180, 35, 24, 1);
  --error-800: rgba(145, 32, 24, 1);
  --error-900: rgba(122, 39, 26, 1);
  --warning-25: rgba(255, 252, 245, 1);
  --warning-50: rgba(255, 250, 235, 1);
  --warning-100: rgba(254, 240, 199, 1);
  --warning-200: rgba(254, 223, 137, 1);
  --warning-300: rgba(254, 200, 75, 1);
  --warning-400: rgba(253, 176, 34, 1);
  --warning-500: rgba(247, 144, 9, 1);
  --warning-600: rgba(220, 104, 3, 1);
  --warning-700: rgba(181, 71, 8, 1);
  --warning-800: rgba(147, 55, 13, 1);
  --warning-900: rgba(122, 46, 14, 1);
  --success-25: rgba(246, 254, 249, 1);
  --success-50: rgba(236, 253, 243, 1);
  --success-100: rgba(209, 250, 223, 1);
  --success-200: rgba(166, 244, 197, 1);
  --success-300: rgba(108, 233, 166, 1);
  --success-400: rgba(50, 213, 131, 1);
  --success-500: rgba(18, 183, 106, 1);
  --success-600: rgba(3, 152, 85, 1);
  --success-700: rgba(2, 122, 72, 1);
  --success-800: rgba(5, 96, 58, 1);
  --success-900: rgba(5, 79, 49, 1);
  --orange-25: rgba(255, 250, 245, 1);
  --orange-50: rgba(255, 246, 237, 1);
  --orange-100: rgba(255, 234, 213, 1);
  --orange-200: rgba(253, 220, 171, 1);
  --orange-300: rgba(254, 178, 115, 1);
  --orange-400: rgba(253, 133, 58, 1);
  --orange-500: rgba(251, 101, 20, 1);
  --orange-600: rgba(236, 74, 10, 1);
  --orange-700: rgba(196, 50, 10, 1);
  --orange-800: rgba(156, 42, 16, 1);
  --orange-900: rgba(126, 36, 16, 1);
  --display-2xl-regular-font-family: "Lexend", Helvetica;
  --display-2xl-regular-font-weight: 400;
  --display-2xl-regular-font-size: 72px;
  --display-2xl-regular-letter-spacing: -1.44px;
  --display-2xl-regular-line-height: 90px;
  --display-2xl-regular-font-style: normal;
  --display-2xl-medium-font-family: "Lexend", Helvetica;
  --display-2xl-medium-font-weight: 500;
  --display-2xl-medium-font-size: 72px;
  --display-2xl-medium-letter-spacing: -1.44px;
  --display-2xl-medium-line-height: 90px;
  --display-2xl-medium-font-style: normal;
  --display-2xl-semibold-font-family: "Lexend", Helvetica;
  --display-2xl-semibold-font-weight: 600;
  --display-2xl-semibold-font-size: 72px;
  --display-2xl-semibold-letter-spacing: -1.44px;
  --display-2xl-semibold-line-height: 90px;
  --display-2xl-semibold-font-style: normal;
  --display-2xl-bold-font-family: "Lexend", Helvetica;
  --display-2xl-bold-font-weight: 700;
  --display-2xl-bold-font-size: 72px;
  --display-2xl-bold-letter-spacing: -1.44px;
  --display-2xl-bold-line-height: 90px;
  --display-2xl-bold-font-style: normal;
  --display-xl-regular-font-family: "Lexend", Helvetica;
  --display-xl-regular-font-weight: 400;
  --display-xl-regular-font-size: 60px;
  --display-xl-regular-letter-spacing: -1.2px;
  --display-xl-regular-line-height: 72px;
  --display-xl-regular-font-style: normal;
  --display-xl-medium-font-family: "Lexend", Helvetica;
  --display-xl-medium-font-weight: 500;
  --display-xl-medium-font-size: 60px;
  --display-xl-medium-letter-spacing: -1.2px;
  --display-xl-medium-line-height: 72px;
  --display-xl-medium-font-style: normal;
  --display-xl-semibold-font-family: "Lexend", Helvetica;
  --display-xl-semibold-font-weight: 600;
  --display-xl-semibold-font-size: 60px;
  --display-xl-semibold-letter-spacing: -1.2px;
  --display-xl-semibold-line-height: 72px;
  --display-xl-semibold-font-style: normal;
  --display-xl-bold-font-family: "Lexend", Helvetica;
  --display-xl-bold-font-weight: 700;
  --display-xl-bold-font-size: 60px;
  --display-xl-bold-letter-spacing: -1.2px;
  --display-xl-bold-line-height: 72px;
  --display-xl-bold-font-style: normal;
  --display-lg-regular-font-family: "Lexend", Helvetica;
  --display-lg-regular-font-weight: 400;
  --display-lg-regular-font-size: 48px;
  --display-lg-regular-letter-spacing: -0.96px;
  --display-lg-regular-line-height: 60px;
  --display-lg-regular-font-style: normal;
  --display-lg-medium-font-family: "Lexend", Helvetica;
  --display-lg-medium-font-weight: 500;
  --display-lg-medium-font-size: 48px;
  --display-lg-medium-letter-spacing: -0.96px;
  --display-lg-medium-line-height: 60px;
  --display-lg-medium-font-style: normal;
  --display-lg-semibold-font-family: "Lexend", Helvetica;
  --display-lg-semibold-font-weight: 600;
  --display-lg-semibold-font-size: 48px;
  --display-lg-semibold-letter-spacing: -0.96px;
  --display-lg-semibold-line-height: 60px;
  --display-lg-semibold-font-style: normal;
  --display-lg-bold-font-family: "Lexend", Helvetica;
  --display-lg-bold-font-weight: 700;
  --display-lg-bold-font-size: 48px;
  --display-lg-bold-letter-spacing: -0.96px;
  --display-lg-bold-line-height: 60px;
  --display-lg-bold-font-style: normal;
  --display-md-regular-font-family: "Lexend", Helvetica;
  --display-md-regular-font-weight: 400;
  --display-md-regular-font-size: 36px;
  --display-md-regular-letter-spacing: -0.72px;
  --display-md-regular-line-height: 44px;
  --display-md-regular-font-style: normal;
  --display-md-medium-font-family: "Lexend", Helvetica;
  --display-md-medium-font-weight: 500;
  --display-md-medium-font-size: 36px;
  --display-md-medium-letter-spacing: -0.72px;
  --display-md-medium-line-height: 44px;
  --display-md-medium-font-style: normal;
  --display-md-semibold-font-family: "Inter", Helvetica;
  --display-md-semibold-font-weight: 600;
  --display-md-semibold-font-size: 36px;
  --display-md-semibold-letter-spacing: -0.72px;
  --display-md-semibold-line-height: 44px;
  --display-md-semibold-font-style: normal;
  --display-md-bold-font-family: "Lexend", Helvetica;
  --display-md-bold-font-weight: 700;
  --display-md-bold-font-size: 36px;
  --display-md-bold-letter-spacing: -0.72px;
  --display-md-bold-line-height: 44px;
  --display-md-bold-font-style: normal;
  --display-sm-regular-font-family: "Lexend", Helvetica;
  --display-sm-regular-font-weight: 400;
  --display-sm-regular-font-size: 30px;
  --display-sm-regular-letter-spacing: 0px;
  --display-sm-regular-line-height: 38px;
  --display-sm-regular-font-style: normal;
  --display-sm-medium-font-family: "Lexend", Helvetica;
  --display-sm-medium-font-weight: 500;
  --display-sm-medium-font-size: 30px;
  --display-sm-medium-letter-spacing: 0px;
  --display-sm-medium-line-height: 38px;
  --display-sm-medium-font-style: normal;
  --display-sm-semibold-font-family: "Lexend", Helvetica;
  --display-sm-semibold-font-weight: 600;
  --display-sm-semibold-font-size: 30px;
  --display-sm-semibold-letter-spacing: 0px;
  --display-sm-semibold-line-height: 38px;
  --display-sm-semibold-font-style: normal;
  --display-sm-bold-font-family: "Lexend", Helvetica;
  --display-sm-bold-font-weight: 700;
  --display-sm-bold-font-size: 30px;
  --display-sm-bold-letter-spacing: 0px;
  --display-sm-bold-line-height: 38px;
  --display-sm-bold-font-style: normal;
  --display-sm-medium-italic-font-family: "Inter", Helvetica;
  --display-sm-medium-italic-font-weight: 500;
  --display-sm-medium-italic-font-size: 30px;
  --display-sm-medium-italic-letter-spacing: 0px;
  --display-sm-medium-italic-line-height: 44px;
  --display-sm-medium-italic-font-style: italic;
  --display-xs-regular-font-family: "Lexend", Helvetica;
  --display-xs-regular-font-weight: 400;
  --display-xs-regular-font-size: 24px;
  --display-xs-regular-letter-spacing: 0px;
  --display-xs-regular-line-height: 32px;
  --display-xs-regular-font-style: normal;
  --display-xs-medium-font-family: "Lexend", Helvetica;
  --display-xs-medium-font-weight: 500;
  --display-xs-medium-font-size: 24px;
  --display-xs-medium-letter-spacing: 0px;
  --display-xs-medium-line-height: 32px;
  --display-xs-medium-font-style: normal;
  --display-xs-semibold-font-family: "Lexend", Helvetica;
  --display-xs-semibold-font-weight: 600;
  --display-xs-semibold-font-size: 24px;
  --display-xs-semibold-letter-spacing: 0px;
  --display-xs-semibold-line-height: 32px;
  --display-xs-semibold-font-style: normal;
  --display-xs-bold-font-family: "Lexend", Helvetica;
  --display-xs-bold-font-weight: 700;
  --display-xs-bold-font-size: 24px;
  --display-xs-bold-letter-spacing: 0px;
  --display-xs-bold-line-height: 32px;
  --display-xs-bold-font-style: normal;
  --display-xs-medium-italic-font-family: "Inter", Helvetica;
  --display-xs-medium-italic-font-weight: 500;
  --display-xs-medium-italic-font-size: 24px;
  --display-xs-medium-italic-letter-spacing: 0px;
  --display-xs-medium-italic-line-height: 36px;
  --display-xs-medium-italic-font-style: italic;
  --display-xs-semibold-underlined-font-family: "Inter", Helvetica;
  --display-xs-semibold-underlined-font-weight: 600;
  --display-xs-semibold-underlined-font-size: 24px;
  --display-xs-semibold-underlined-letter-spacing: 0px;
  --display-xs-semibold-underlined-line-height: 32px;
  --display-xs-semibold-underlined-font-style: normal;
  --text-xl-regular-font-family: "Inter", Helvetica;
  --text-xl-regular-font-weight: 400;
  --text-xl-regular-font-size: 20px;
  --text-xl-regular-letter-spacing: 0px;
  --text-xl-regular-line-height: 30px;
  --text-xl-regular-font-style: normal;
  --text-xl-medium-font-family: "Inter", Helvetica;
  --text-xl-medium-font-weight: 500;
  --text-xl-medium-font-size: 20px;
  --text-xl-medium-letter-spacing: 0px;
  --text-xl-medium-line-height: 30px;
  --text-xl-medium-font-style: normal;
  --text-xl-semibold-font-family: "Inter", Helvetica;
  --text-xl-semibold-font-weight: 600;
  --text-xl-semibold-font-size: 20px;
  --text-xl-semibold-letter-spacing: 0px;
  --text-xl-semibold-line-height: 30px;
  --text-xl-semibold-font-style: normal;
  --text-xl-bold-font-family: "Inter", Helvetica;
  --text-xl-bold-font-weight: 700;
  --text-xl-bold-font-size: 20px;
  --text-xl-bold-letter-spacing: 0px;
  --text-xl-bold-line-height: 30px;
  --text-xl-bold-font-style: normal;
  --text-xl-regular-italic-font-family: "Inter", Helvetica;
  --text-xl-regular-italic-font-weight: 400;
  --text-xl-regular-italic-font-size: 20px;
  --text-xl-regular-italic-letter-spacing: 0px;
  --text-xl-regular-italic-line-height: 30px;
  --text-xl-regular-italic-font-style: italic;
  --text-xl-medium-italic-font-family: "Inter", Helvetica;
  --text-xl-medium-italic-font-weight: 500;
  --text-xl-medium-italic-font-size: 20px;
  --text-xl-medium-italic-letter-spacing: 0px;
  --text-xl-medium-italic-line-height: 30px;
  --text-xl-medium-italic-font-style: italic;
  --text-xl-semibold-italic-font-family: "Inter", Helvetica;
  --text-xl-semibold-italic-font-weight: 600;
  --text-xl-semibold-italic-font-size: 20px;
  --text-xl-semibold-italic-letter-spacing: 0px;
  --text-xl-semibold-italic-line-height: 30px;
  --text-xl-semibold-italic-font-style: italic;
  --text-xl-bold-italic-font-family: "Inter", Helvetica;
  --text-xl-bold-italic-font-weight: 700;
  --text-xl-bold-italic-font-size: 20px;
  --text-xl-bold-italic-letter-spacing: 0px;
  --text-xl-bold-italic-line-height: 30px;
  --text-xl-bold-italic-font-style: italic;
  --text-xl-regular-underlined-font-family: "Inter", Helvetica;
  --text-xl-regular-underlined-font-weight: 400;
  --text-xl-regular-underlined-font-size: 20px;
  --text-xl-regular-underlined-letter-spacing: 0px;
  --text-xl-regular-underlined-line-height: 30px;
  --text-xl-regular-underlined-font-style: normal;
  --text-xl-medium-underlined-font-family: "Inter", Helvetica;
  --text-xl-medium-underlined-font-weight: 500;
  --text-xl-medium-underlined-font-size: 20px;
  --text-xl-medium-underlined-letter-spacing: 0px;
  --text-xl-medium-underlined-line-height: 30px;
  --text-xl-medium-underlined-font-style: normal;
  --text-lg-regular-font-family: "Inter", Helvetica;
  --text-lg-regular-font-weight: 400;
  --text-lg-regular-font-size: 18px;
  --text-lg-regular-letter-spacing: 0px;
  --text-lg-regular-line-height: 28px;
  --text-lg-regular-font-style: normal;
  --text-lg-medium-font-family: "Inter", Helvetica;
  --text-lg-medium-font-weight: 500;
  --text-lg-medium-font-size: 18px;
  --text-lg-medium-letter-spacing: 0px;
  --text-lg-medium-line-height: 28px;
  --text-lg-medium-font-style: normal;
  --text-lg-semibold-font-family: "Inter", Helvetica;
  --text-lg-semibold-font-weight: 600;
  --text-lg-semibold-font-size: 18px;
  --text-lg-semibold-letter-spacing: 0px;
  --text-lg-semibold-line-height: 28px;
  --text-lg-semibold-font-style: normal;
  --text-lg-bold-font-family: "Inter", Helvetica;
  --text-lg-bold-font-weight: 700;
  --text-lg-bold-font-size: 18px;
  --text-lg-bold-letter-spacing: 0px;
  --text-lg-bold-line-height: 28px;
  --text-lg-bold-font-style: normal;
  --text-lg-regular-italic-font-family: "Inter", Helvetica;
  --text-lg-regular-italic-font-weight: 400;
  --text-lg-regular-italic-font-size: 18px;
  --text-lg-regular-italic-letter-spacing: 0px;
  --text-lg-regular-italic-line-height: 28px;
  --text-lg-regular-italic-font-style: italic;
  --text-lg-medium-italic-font-family: "Inter", Helvetica;
  --text-lg-medium-italic-font-weight: 500;
  --text-lg-medium-italic-font-size: 18px;
  --text-lg-medium-italic-letter-spacing: 0px;
  --text-lg-medium-italic-line-height: 28px;
  --text-lg-medium-italic-font-style: italic;
  --text-lg-semibold-italic-font-family: "Inter", Helvetica;
  --text-lg-semibold-italic-font-weight: 600;
  --text-lg-semibold-italic-font-size: 18px;
  --text-lg-semibold-italic-letter-spacing: 0px;
  --text-lg-semibold-italic-line-height: 28px;
  --text-lg-semibold-italic-font-style: italic;
  --text-lg-bold-italic-font-family: "Inter", Helvetica;
  --text-lg-bold-italic-font-weight: 700;
  --text-lg-bold-italic-font-size: 18px;
  --text-lg-bold-italic-letter-spacing: 0px;
  --text-lg-bold-italic-line-height: 28px;
  --text-lg-bold-italic-font-style: italic;
  --text-lg-regular-underlined-font-family: "Inter", Helvetica;
  --text-lg-regular-underlined-font-weight: 400;
  --text-lg-regular-underlined-font-size: 18px;
  --text-lg-regular-underlined-letter-spacing: 0px;
  --text-lg-regular-underlined-line-height: 28px;
  --text-lg-regular-underlined-font-style: normal;
  --text-lg-medium-underlined-font-family: "Inter", Helvetica;
  --text-lg-medium-underlined-font-weight: 500;
  --text-lg-medium-underlined-font-size: 18px;
  --text-lg-medium-underlined-letter-spacing: 0px;
  --text-lg-medium-underlined-line-height: 28px;
  --text-lg-medium-underlined-font-style: normal;
  --text-md-regular-font-family: "Inter", Helvetica;
  --text-md-regular-font-weight: 400;
  --text-md-regular-font-size: 16px;
  --text-md-regular-letter-spacing: 0px;
  --text-md-regular-line-height: 24px;
  --text-md-regular-font-style: normal;
  --text-md-medium-font-family: "Inter", Helvetica;
  --text-md-medium-font-weight: 500;
  --text-md-medium-font-size: 16px;
  --text-md-medium-letter-spacing: 0px;
  --text-md-medium-line-height: 24px;
  --text-md-medium-font-style: normal;
  --text-md-semibold-font-family: "Inter", Helvetica;
  --text-md-semibold-font-weight: 600;
  --text-md-semibold-font-size: 16px;
  --text-md-semibold-letter-spacing: 0px;
  --text-md-semibold-line-height: 24px;
  --text-md-semibold-font-style: normal;
  --text-md-bold-font-family: "Inter", Helvetica;
  --text-md-bold-font-weight: 700;
  --text-md-bold-font-size: 16px;
  --text-md-bold-letter-spacing: 0px;
  --text-md-bold-line-height: 24px;
  --text-md-bold-font-style: normal;
  --text-md-regular-italic-font-family: "Inter", Helvetica;
  --text-md-regular-italic-font-weight: 400;
  --text-md-regular-italic-font-size: 16px;
  --text-md-regular-italic-letter-spacing: 0px;
  --text-md-regular-italic-line-height: 24px;
  --text-md-regular-italic-font-style: italic;
  --text-md-medium-italic-font-family: "Inter", Helvetica;
  --text-md-medium-italic-font-weight: 500;
  --text-md-medium-italic-font-size: 16px;
  --text-md-medium-italic-letter-spacing: 0px;
  --text-md-medium-italic-line-height: 24px;
  --text-md-medium-italic-font-style: italic;
  --text-md-semibold-italic-font-family: "Inter", Helvetica;
  --text-md-semibold-italic-font-weight: 600;
  --text-md-semibold-italic-font-size: 16px;
  --text-md-semibold-italic-letter-spacing: 0px;
  --text-md-semibold-italic-line-height: 24px;
  --text-md-semibold-italic-font-style: italic;
  --text-md-bold-italic-font-family: "Inter", Helvetica;
  --text-md-bold-italic-font-weight: 700;
  --text-md-bold-italic-font-size: 16px;
  --text-md-bold-italic-letter-spacing: 0px;
  --text-md-bold-italic-line-height: 24px;
  --text-md-bold-italic-font-style: italic;
  --text-md-regular-underlined-font-family: "Inter", Helvetica;
  --text-md-regular-underlined-font-weight: 400;
  --text-md-regular-underlined-font-size: 16px;
  --text-md-regular-underlined-letter-spacing: 0px;
  --text-md-regular-underlined-line-height: 24px;
  --text-md-regular-underlined-font-style: normal;
  --text-sm-regular-font-family: "Inter", Helvetica;
  --text-sm-regular-font-weight: 400;
  --text-sm-regular-font-size: 14px;
  --text-sm-regular-letter-spacing: 0px;
  --text-sm-regular-line-height: 20px;
  --text-sm-regular-font-style: normal;
  --text-sm-medium-font-family: "Inter", Helvetica;
  --text-sm-medium-font-weight: 500;
  --text-sm-medium-font-size: 14px;
  --text-sm-medium-letter-spacing: 0px;
  --text-sm-medium-line-height: 20px;
  --text-sm-medium-font-style: normal;
  --text-sm-semibold-font-family: "Inter", Helvetica;
  --text-sm-semibold-font-weight: 600;
  --text-sm-semibold-font-size: 14px;
  --text-sm-semibold-letter-spacing: 0px;
  --text-sm-semibold-line-height: 20px;
  --text-sm-semibold-font-style: normal;
  --text-sm-bold-font-family: "Inter", Helvetica;
  --text-sm-bold-font-weight: 700;
  --text-sm-bold-font-size: 14px;
  --text-sm-bold-letter-spacing: 0px;
  --text-sm-bold-line-height: 20px;
  --text-sm-bold-font-style: normal;
  --text-xs-regular-font-family: "Inter", Helvetica;
  --text-xs-regular-font-weight: 400;
  --text-xs-regular-font-size: 12px;
  --text-xs-regular-letter-spacing: 0px;
  --text-xs-regular-line-height: 18px;
  --text-xs-regular-font-style: normal;
  --text-xs-medium-font-family: "Inter", Helvetica;
  --text-xs-medium-font-weight: 500;
  --text-xs-medium-font-size: 12px;
  --text-xs-medium-letter-spacing: 0px;
  --text-xs-medium-line-height: 18px;
  --text-xs-medium-font-style: normal;
  --text-xs-semibold-font-family: "Inter", Helvetica;
  --text-xs-semibold-font-weight: 600;
  --text-xs-semibold-font-size: 12px;
  --text-xs-semibold-letter-spacing: 0px;
  --text-xs-semibold-line-height: 18px;
  --text-xs-semibold-font-style: normal;
  --text-xs-bold-font-family: "Inter", Helvetica;
  --text-xs-bold-font-weight: 700;
  --text-xs-bold-font-size: 12px;
  --text-xs-bold-letter-spacing: 0px;
  --text-xs-bold-line-height: 18px;
  --text-xs-bold-font-style: normal;
  --i: 0px 21px 52.900001525878906px 0px rgba(108, 159, 106, 0.35);
  --focus-ring-4px-primary-100: 0px 0px 0px 4px rgba(216, 254, 215, 1);
  --focus-ring-4px-gray-100: 0px 0px 0px 4px rgba(242, 244, 247, 1);
  --focus-ring-4px-error-100: 0px 0px 0px 4px rgba(254, 228, 226, 1);
  --focus-ring-4px-gray-600: 0px 0px 0px 4px rgba(71, 84, 103, 1);
  --focus-ring-4px-primary-600: 0px 0px 0px 4px rgba(14, 128, 75, 1);
  --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-xs-focused-4px-primary-100: 0px 0px 0px 4px rgba(244, 235, 255, 1), 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-xs-focused-4px-gray-100: 0px 0px 0px 4px rgba(242, 244, 247, 1), 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-xs-focused-4px-error-100: 0px 0px 0px 4px rgba(254, 228, 226, 1), 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-sm: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  --shadow-sm-focused-4px-primary-100: 0px 0px 0px 4px rgba(244, 235, 255, 1), 0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  --shadow-sm-focused-4px-gray-100: 0px 0px 0px 4px rgba(242, 244, 247, 1), 0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  --shadow-md: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.1);
  --shadow-lg: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  --shadow-xl: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
  --shadow-2xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
  --shadow-3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
  --shadow-portfolio-mockup-main-centre-md: 0px 75px 150px 0px rgba(52, 64, 84, 0.14);
  --shadow-portfolio-mockup-main-centre-lg: 0px 100px 200px 0px rgba(52, 64, 84, 0.18);
  --shadow-portfolio-mockup-overlay-right-lg: -100px 100px 150px 0px rgba(52, 64, 84, 0.12);
  --shadow-portfolio-mockup-overlay-left-lg: 100px 100px 150px 0px rgba(52, 64, 84, 0.12);
  --shadow-portfolio-mockup-grid-shadow-md: 32px 32px 64px 0px rgba(52, 64, 84, 0.08);
}
